html{
    font-family: 'Bitter', sans-Serif;
    font-size: 16px;
}

nav{
    margin: 0px 40px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

nav ul{
    display:flex;
    flex-wrap: wrap;
    justify-items: end;
    gap: 30px;
    list-style: none;
}

nav li{
    display:flex;
    align-items: center;
}


nav li a{
    text-transform: uppercase;
    color: black;
    font-weight: 200;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(147, 192, 164);
    border-radius: 10px;
}

.logo a{
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    color:black;
}

.banner{
    padding: 0px 40px;
    height: 90vh;
    background-image: url('images/background2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align:center;
    perspective: 500px;
}

.monkey{
    position: absolute;
    top:75px;
    right:400px;
    width: 100px;
}

.monkey img{
    max-width:100%;
    display: none;
}

.description{
    font-size: 1.5rem;
    max-width: 800px;
}

h1{
    font-family: 'Amatic SC', cursive;
    font-size: 8rem;
    text-transform: uppercase;
    color:black;
    letter-spacing: 0.5rem;
    margin:20px 0px;
	-webkit-animation: tilt-in-fwd-tr 2s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.3s both;
	        animation: tilt-in-fwd-tr 2s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.3s both;
}

@media only screen and (max-width: 920px){
    h1{
        font-size: 5rem;
    }
    nav{
        margin: 0px 10px;
        height: auto;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        text-align:center;
    }
    ul{
        justify-self: center;
        align-content: space-around;
        flex-wrap: nowrap;
        gap: 5px !important;
        padding:0px;
    }
}

@media only screen and (max-width: 720px){
    h1{
        font-size: 3rem;
    }
    .join-button{
        width: 180px;
        height: 45px;
        font-size: 1rem;
    }
    .description{
        font-size: 1rem;
    }
}

.join-button{
    width: 250px;
    height: 60px;
    background-color: rgb(232, 136, 115);
    border-radius: 20px;
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 3px rgb(240, 200, 8);
    transition: .15s ease-in
}

ul a:hover{
    background-color: rgb(240, 200, 8);
}

.join-button:hover{
    background-color: rgb(240, 200, 8);
    box-shadow: 0px 0px 0px rgb(240, 200, 8);
    color: black;
}

.bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
    }
    @keyframes bouncy {
    0% {top:0em;}
    40% {top:0em;}
    43% {top:-0.9em;}
    46% {top:0em;}
    48% {top:-0.4em;}
    50% {top:0em;}
    100% {top:0em;}
}

.about-section{
    text-align: center;
    margin: 40px auto;
    max-width: 1600px;
    min-height: 100vh;
    padding: 20px 40px;
}

h2{
    font-size: 3rem;
    margin: 40px auto 20px auto;
}

.about_description{
    max-width: 1000px;
    text-align: center;
    margin: 0px auto 40px auto;
    line-height: 1.5rem;
    padding: 20px;
    border-bottom: 5px solid rgb(8, 103, 136);
    
}

.people{
    display:flex;
    justify-content: center;
    align-items:flex-start;
    gap: 30px;
}

.person{
    width: 400px;
    display:flex;
    flex-flow:column;
    align-items: center;
    justify-content: stretch;
}

h3{
    font-family: 'Amatic SC', cursive;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 20px auto 10px auto;
}

h4{
    font-style: italic;
    margin: 10px auto;
}

.person p{
    min-height: 100px;
}

.sacha{
    flex-shrink: 1;
    flex-grow: 1;
}
.lena{
    flex-shrink: 1;
    flex-grow: 1;
}
.philippe{
    flex-shrink: 1;
    flex-grow: 1;
}
.other{
    flex-shrink: 1;
    flex-grow: 1;
}

.profilepic{
    max-width: 75%;
    border-radius: 100px;
    border: 5px solid rgb(240, 200, 8);
}

.quotation img{
    position:relative;
    max-width: 100px;
    top:50px;
    left:-100px;
}

@media only screen and (max-width: 920px){
    .people{
        flex-wrap: wrap;
        gap: 0px;
    }
    .person{
        max-width: 300px;
        margin: 0px 10px;
    }
    .philippe{
        display: none;
    }
}

.trainings-section{
    text-align: center;
    margin: 40px auto;
    max-width: 1600px;
    min-height: 100vh;
    padding:20px 40px;
}

.trainings-container{
    display:flex;
    justify-content: center;
    align-items:baseline;
    gap: 30px;
    margin-bottom:40px;
}

.training{
    width: 400px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 40px;
}

.upper{
    text-align: left;
    border-radius: 35px 35px 0px 0px;
    border-bottom: 1px solid black;
    height: 250px;
    max-width: 100%;
    padding: 20px;
    background-color: rgb(240, 240, 240);
}

.upper h3{
    font-size: 4rem;
}

.jam .upper{
    background-color: rgb(240, 200, 8);
}

.beginner1 .upper{
    background-color: rgb(176, 209, 189);
}

.beginner2 .upper{
    background-color: rgb(147, 192, 164)
}

.price-tag{
    font-size: 3rem;
    margin-bottom: 10px;
}

.training h4{
    margin-bottom: 0px;
}

.pricing-subtitle{
    font-size: 0.8rem;
    font-style: italic;
    margin:0px 0px 20px 0px;
}

.training ul{
    list-style: none;
    text-align: left;
    padding: 10px;
    line-height: 2rem;
}

.bold{
    font-weight: 600;
}

.disclaimer{
    font-size:0.8rem;
    font-style: italic;
}

@media only screen and (max-width: 920px){
    .trainings-container{
        flex-wrap: wrap;
    }
}

.contact-section{
    text-align: center;
    margin: 40px auto;
    max-width: 1600px;
    padding: 20px 40px;
}

.contact-container{
    display:flex;
    justify-content:center;
    align-items:stretch;
    gap: 50px;
    margin-bottom:40px;
}

.maps{
    width:500px;
}

.gmaps{
    width: 500px;
    height: 400px;
    border: 4px solid rgb(240, 200, 8);
    border-radius: 50px;
}

.contact-form{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form{
    display: flex;
    flex-direction: column;
    justify-items:stretch;
    align-items: center;
    margin-top:20px;
}

.form-label{
    font-style: italic;
    margin: 10px auto;
    font-weight: bold;
}

.form-input-group{
    min-height: 120px;
    max-width: 100%;
}

.form-control{
    max-width: 100%;
    height: 50px;
}

.submit-button{
    margin-top: auto;
}

@media only screen and (max-width: 920px){
    .contact-container{
        flex-wrap: wrap;
    }
    .maps{
        width: 90vw;
    }
    .gmaps{
        width: auto;
    }
}

footer{
    height: 100px;
    text-align: center;
    background-color: rgb(8, 103, 136);
    display: flex;
    align-items: center;
    justify-content: center;
}




@keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  
  

.animate3d {
    will-change: transform;
  }

#ui {
transform-style: preserve-3d;
}

  #ui .text {
    position: absolute;
    font-size: 15rem;
    color: #fff;
    line-height: 15rem;
    font-family: "Anton", sans-serif;
    padding: 20px 0;
    mix-blend-mode: screen;
    transform-style: preserve-3d;
  }
  #ui .text:nth-child(1) {
    -webkit-clip-path: polygon(-30% 0, -20% 0, 20% 100%, 0% 100%);
            clip-path: polygon(-30% 0, -20% 0, 20% 100%, 0% 100%);
    -webkit-animation: wave 2000ms -10000ms ease-in-out infinite alternate;
            animation: wave 2000ms -10000ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(2) {
    -webkit-clip-path: polygon(-25% 0, -15% 0, 25% 100%, 5% 100%);
            clip-path: polygon(-25% 0, -15% 0, 25% 100%, 5% 100%);
    -webkit-animation: wave 2000ms -9800ms ease-in-out infinite alternate;
            animation: wave 2000ms -9800ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(3) {
    -webkit-clip-path: polygon(-20% 0, -10% 0, 30% 100%, 10% 100%);
            clip-path: polygon(-20% 0, -10% 0, 30% 100%, 10% 100%);
    -webkit-animation: wave 2000ms -9600ms ease-in-out infinite alternate;
            animation: wave 2000ms -9600ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(4) {
    -webkit-clip-path: polygon(-15% 0, -5% 0, 35% 100%, 15% 100%);
            clip-path: polygon(-15% 0, -5% 0, 35% 100%, 15% 100%);
    -webkit-animation: wave 2000ms -9400ms ease-in-out infinite alternate;
            animation: wave 2000ms -9400ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(5) {
    -webkit-clip-path: polygon(-10% 0, 0% 0, 40% 100%, 20% 100%);
            clip-path: polygon(-10% 0, 0% 0, 40% 100%, 20% 100%);
    -webkit-animation: wave 2000ms -9200ms ease-in-out infinite alternate;
            animation: wave 2000ms -9200ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(6) {
    -webkit-clip-path: polygon(-5% 0, 5% 0, 45% 100%, 25% 100%);
            clip-path: polygon(-5% 0, 5% 0, 45% 100%, 25% 100%);
    -webkit-animation: wave 2000ms -9000ms ease-in-out infinite alternate;
            animation: wave 2000ms -9000ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(7) {
    -webkit-clip-path: polygon(0% 0, 10% 0, 50% 100%, 30% 100%);
            clip-path: polygon(0% 0, 10% 0, 50% 100%, 30% 100%);
    -webkit-animation: wave 2000ms -8800ms ease-in-out infinite alternate;
            animation: wave 2000ms -8800ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(8) {
    -webkit-clip-path: polygon(5% 0, 15% 0, 55% 100%, 35% 100%);
            clip-path: polygon(5% 0, 15% 0, 55% 100%, 35% 100%);
    -webkit-animation: wave 2000ms -8600ms ease-in-out infinite alternate;
            animation: wave 2000ms -8600ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(9) {
    -webkit-clip-path: polygon(10% 0, 20% 0, 60% 100%, 40% 100%);
            clip-path: polygon(10% 0, 20% 0, 60% 100%, 40% 100%);
    -webkit-animation: wave 2000ms -8400ms ease-in-out infinite alternate;
            animation: wave 2000ms -8400ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(10) {
    -webkit-clip-path: polygon(15% 0, 25% 0, 65% 100%, 45% 100%);
            clip-path: polygon(15% 0, 25% 0, 65% 100%, 45% 100%);
    -webkit-animation: wave 2000ms -8200ms ease-in-out infinite alternate;
            animation: wave 2000ms -8200ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(11) {
    -webkit-clip-path: polygon(20% 0, 30% 0, 70% 100%, 50% 100%);
            clip-path: polygon(20% 0, 30% 0, 70% 100%, 50% 100%);
    -webkit-animation: wave 2000ms -8000ms ease-in-out infinite alternate;
            animation: wave 2000ms -8000ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(12) {
    -webkit-clip-path: polygon(25% 0, 35% 0, 75% 100%, 55% 100%);
            clip-path: polygon(25% 0, 35% 0, 75% 100%, 55% 100%);
    -webkit-animation: wave 2000ms -7800ms ease-in-out infinite alternate;
            animation: wave 2000ms -7800ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(13) {
    -webkit-clip-path: polygon(30% 0, 40% 0, 80% 100%, 60% 100%);
            clip-path: polygon(30% 0, 40% 0, 80% 100%, 60% 100%);
    -webkit-animation: wave 2000ms -7600ms ease-in-out infinite alternate;
            animation: wave 2000ms -7600ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(14) {
    -webkit-clip-path: polygon(35% 0, 45% 0, 85% 100%, 65% 100%);
            clip-path: polygon(35% 0, 45% 0, 85% 100%, 65% 100%);
    -webkit-animation: wave 2000ms -7400ms ease-in-out infinite alternate;
            animation: wave 2000ms -7400ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(15) {
    -webkit-clip-path: polygon(40% 0, 50% 0, 90% 100%, 70% 100%);
            clip-path: polygon(40% 0, 50% 0, 90% 100%, 70% 100%);
    -webkit-animation: wave 2000ms -7200ms ease-in-out infinite alternate;
            animation: wave 2000ms -7200ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(16) {
    -webkit-clip-path: polygon(45% 0, 55% 0, 95% 100%, 75% 100%);
            clip-path: polygon(45% 0, 55% 0, 95% 100%, 75% 100%);
    -webkit-animation: wave 2000ms -7000ms ease-in-out infinite alternate;
            animation: wave 2000ms -7000ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(17) {
    -webkit-clip-path: polygon(50% 0, 60% 0, 100% 100%, 80% 100%);
            clip-path: polygon(50% 0, 60% 0, 100% 100%, 80% 100%);
    -webkit-animation: wave 2000ms -6800ms ease-in-out infinite alternate;
            animation: wave 2000ms -6800ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(18) {
    -webkit-clip-path: polygon(55% 0, 65% 0, 105% 100%, 85% 100%);
            clip-path: polygon(55% 0, 65% 0, 105% 100%, 85% 100%);
    -webkit-animation: wave 2000ms -6600ms ease-in-out infinite alternate;
            animation: wave 2000ms -6600ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(19) {
    -webkit-clip-path: polygon(60% 0, 70% 0, 110% 100%, 90% 100%);
            clip-path: polygon(60% 0, 70% 0, 110% 100%, 90% 100%);
    -webkit-animation: wave 2000ms -6400ms ease-in-out infinite alternate;
            animation: wave 2000ms -6400ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(20) {
    -webkit-clip-path: polygon(65% 0, 75% 0, 115% 100%, 95% 100%);
            clip-path: polygon(65% 0, 75% 0, 115% 100%, 95% 100%);
    -webkit-animation: wave 2000ms -6200ms ease-in-out infinite alternate;
            animation: wave 2000ms -6200ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(21) {
    -webkit-clip-path: polygon(70% 0, 80% 0, 120% 100%, 100% 100%);
            clip-path: polygon(70% 0, 80% 0, 120% 100%, 100% 100%);
    -webkit-animation: wave 2000ms -6000ms ease-in-out infinite alternate;
            animation: wave 2000ms -6000ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(22) {
    -webkit-clip-path: polygon(75% 0, 85% 0, 125% 100%, 105% 100%);
            clip-path: polygon(75% 0, 85% 0, 125% 100%, 105% 100%);
    -webkit-animation: wave 2000ms -5800ms ease-in-out infinite alternate;
            animation: wave 2000ms -5800ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(23) {
    -webkit-clip-path: polygon(80% 0, 90% 0, 130% 100%, 110% 100%);
            clip-path: polygon(80% 0, 90% 0, 130% 100%, 110% 100%);
    -webkit-animation: wave 2000ms -5600ms ease-in-out infinite alternate;
            animation: wave 2000ms -5600ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(24) {
    -webkit-clip-path: polygon(85% 0, 95% 0, 135% 100%, 115% 100%);
            clip-path: polygon(85% 0, 95% 0, 135% 100%, 115% 100%);
    -webkit-animation: wave 2000ms -5400ms ease-in-out infinite alternate;
            animation: wave 2000ms -5400ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(25) {
    -webkit-clip-path: polygon(90% 0, 100% 0, 140% 100%, 120% 100%);
            clip-path: polygon(90% 0, 100% 0, 140% 100%, 120% 100%);
    -webkit-animation: wave 2000ms -5200ms ease-in-out infinite alternate;
            animation: wave 2000ms -5200ms ease-in-out infinite alternate;
  }
  #ui .text:nth-child(26) {
    -webkit-clip-path: polygon(95% 0, 105% 0, 145% 100%, 125% 100%);
            clip-path: polygon(95% 0, 105% 0, 145% 100%, 125% 100%);
    -webkit-animation: wave 2000ms -5000ms ease-in-out infinite alternate;
            animation: wave 2000ms -5000ms ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes wave {
    0% {
      transform: translate(-50%, -50%) scale(0.9) rotateX(20deg) rotateY(20deg) rotateZ(0deg);
      color: rgb(8, 103, 136);
    }
    100% {
      transform: translate(-50%, -50%) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      color:rgb(240, 200, 8);
    }
  }
  
  @keyframes wave {
    0% {
      transform: translate(-50%, -50%) scale(0.9) rotateX(20deg) rotateY(20deg) rotateZ(0deg);
      color: rgb(8, 103, 136);
    }
    100% {
      transform: translate(-50%, -50%) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      color:rgb(240, 200, 8);
    }
  }